@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/* 
  ! Main Colors
*/
:root {
  --teamYellow: #f7b053;
  --teamGreen: #199883;
  --teamLightblue: #2e4057;
  --teamBlue: #083d77;
}

/* 
============================
! General styles
============================
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
body {
  color: var(--teamLightblue);
}
img {
  width: 100%;
}
.hide {
  display: none !important;
}

.maindiv {
  display: flex;
  width: 500vw;
  transition-delay: 1s;
  transform: translateX(0vw);
}

section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 76vh;
  margin: 2vh 2vw;
}
section.product-page {
  flex-direction: row;
}
h2 {
  font-weight: bold;
  font-size: 1.8rem;
}
h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

/*
===========================
 ! Header styles
===========================
*/
header {
  width: 100%;
  height: 10vh;
  background-color: var(--teamLightblue);
  overflow: hidden;
}
div.logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10%;
  color: var(--teamYellow);
  font-weight: bold;
}

/*
===========================
! Progress bar styles
===========================
*/
.text-center-pbar {
  text-align: center;
}

.container-pbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  /* 	padding:  0  auto; */
  /* margin-top:  20px; */
  /* 	padding:  40px; */
}
#stepProgressBar {
  /* display:  flex;
	justify-content:  space-between;
	align-items:  flex-end; */
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 50px auto) 50px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 0px;
  /*     background-color: #F8D7E8;
	border: 10px solid #F8D7E8;
	border-radius: 10px; */
}

div.step-pbar {
  text-align: center;
}

p.step-text-pbar {
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--teamYellow);
  font-size: 12px;
  font-weight: 700;
}

div.bullet-pbar {
  margin-top: 5px;
  border: 2px solid var(--teamYellow);
  height: 20px;
  width: 20px;
  border-radius: 100%;
  color: var(--teamYellow);
  display: inline-block;
  position: relative;
  transition: background-color 1000ms;
  line-height: 20px;
}
div.bar-pbar {
  background-color: #000e030e;
  width: 100%;
  margin-bottom: 18px;
  height: 1.5px;
  transition: background-color 1000ms;
  /*   position: absolute;
  top: 5px; */
}
div.bar-pbar-completed {
  background-color: var(--teamYellow);
}

div.first-bullet-pbar {
  background-color: var(--teamYellow);
}

.bullet-pbar.completed-pbar {
  background-color: var(--teamYellow);
}

/*
===========================
! Product pages styles
===========================
*/
section.product-page {
  flex-direction: row;
}
/* ! ----------left---------- */
div.left-wrapper {
  width: 50vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

div.thumbnail-wrapper {
  display: flex;
  flex-direction: column;
  width: 12%;
  padding: 2%;
}

img.img-thumbnail {
  max-width: 100%;
  margin: 1px 0;
}

div.big-picture {
  width: 60%;
  padding-left: 5%;
}

/* ! ----------right---------- */

div.right-wrapper {
  width: 50vw;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 400px;
}

div.right-wrapper h3 {
  font-weight: bold;
  font-size: 2rem;
}

div.price-wrapper h4 {
  font-weight: bold;
  font-size: 1rem;
}

select#idSize {
  background: transparent;
  border: solid 2px;
  border-radius: 5px;
  font-size: 1rem;
  height: 30px;
  padding: 5px;
  width: 40%;
}

div.color-thumbnails-wrapper {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

div.color-thumbnails-wrapper img {
  width: 10%;
  margin-right: 2%;
  margin-bottom: 2%;
}

div.btn-buy input {
  background-color: black;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  opacity: 0.8;
}

/*
===========================
 ! Generic form styles
===========================
*/
/*  ? Form container */
form {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

/*  ? All form labels */
label.label-form {
  font-size: 1rem;
  opacity: 0.8;
}

/* ? All form inputs*/
input.input-form {
  border: 1.75px solid black;
  border-radius: 5px;
  margin: 5px 0 15px 0;
  width: 90%;
  max-width: 350px;
}

/* ? Form checkbox */
label.form-checkbox {
  font-size: 1rem;
  align-items: center;
  cursor: pointer;
}

.form-checkbox__show--checkbox {
  background-image: url(/images/checkbox-uncheck.png);
}
input.form-checkbox__input {
  display: none;
}
span.form-checkbox__show {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: cover;
}
span.form-checkbox__text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
input.form-checkbox__input:checked + span.form-checkbox__show--checkbox {
  background-image: url(/images/checkbox-check.png);
}

/* ? Form select */
select.select-form {
  margin: 5px 0 15px 0;
}

/*
===========================
! Profile form styles
===========================
*/

section.profile h3 {
  font-weight: 700;
  display: inline-flex;
}

label.label-form {
  display: block;
}

/*
===========================
! Address form styles
===========================
*/

select.select-country {
  max-width: 350px;
  width: 90%;
  height: 23.5px;
  border-radius: 5px;
  border: 1.75px solid black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.div-phone {
  display: inline-flex;
  width: 90%;
  max-width: 350px;
}

.select-phone {
  width: 40%;
  border-radius: 5px;
  border: 1.75px solid black;
}
.input-phone {
  width: 60%;
}

/*
===========================
! Shipping page styles
===========================
*/

label[for="type"] {
  font-weight: bold;
}

div.shipping-type div {
  padding: 0.8vh 0;
}

div.gift {
  margin-top: 2vh;
}

label[for="gift-message"] {
  display: block;
  margin-top: 2vh;
}

textarea#gift-message {
  resize: none;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 1vh;
  outline: none;
  width: 20%;
}

div.custom-input-file {
  background-color: var(--teamLightblue);
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  min-height: 10px;
  padding: 1.1vh;
  margin-top: 2vh;
  border-radius: 5px;
  text-align: center;
  width: 20%;
}

div.custom-input-file .input-file {
 border: 10000px solid transparent;
 cursor: pointer;
 font-size: 10000px;
 margin: 0;
 opacity: 0;
 outline: 0 none;
 padding: 0;
 position: absolute;
 right: -1000px;
 top: -1000px;
}

/*
===========================
! Error Handler form styles
===========================
*/
section label.label-form-error {
  color: red;
  opacity: 1;
}
section input.input-form-error {
  border: 1.75px solid red;
}
section p.text-form-error {
  font-size: 12px;
  color: red;
  padding-left: 5px;
  margin-top: -10px;
  margin-bottom: 18px;
  width: 90%;
  max-width: 350px;
  background-color: rgba(255, 0, 0, 0.178);
  border: 1.75px solid rgba(255, 0, 0, 0.178);
  border-radius: 5px;
}

/*
===========================
 ! Timer
===========================
*/
article.timer {
  position: absolute;
  width: auto;
  height: auto;
  left: 80%;
  top: 25%;
  background-color: var(--teamLightblue);
  color: var(--teamGreen);
  font-weight: bold;
  padding: 10px;
}
article > p {
  font-size: 1rem;
  color: var(--teamYellow);
}
span.minutes {
  color: white;
  font-weight: bold;
}
/*
===========================
! Footer styles
===========================
*/
footer {
  width: 100%;
  height: 10vh;
  background-color: var(--teamLightblue);
  color: var(--teamYellow);
}

div.footer-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===========================================
    ! Testing Buttons style
    ===========================================
 */
button.testing {
  padding: 5px 10px;
  border: 1px solid black;
  transition: 250ms background-color;
}

button.testing:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

button.testing:disabled:hover {
  opacity: 0.6;
  cursor: not-allowed;
}
/* ===========================================
    ! Finish Form
    ===========================================
 */
div.left-wrapper-finish {
  /*width: 70vw;*/
  background-color: white;
  color: var(--teamBlue);
  padding: 15px;
}
/*  div.finish-page {
   
   width: auto;
 } */
/* div#merchant-buy {
  
  background-color: black;
  color: white;
  flex-grow: 2;
} */
div.left-finish {
  width: auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
div.product-finish-text {
  /* display: inline-block; */
  /* flex-grow: 1; */
  width: 60%;
}
div.finish {
  max-height: 150px;
  width: 150px;
  background: white;
  color: var(--teamBlue);
  margin: 0px 0px 0px 30px;
  text-align: left;
  padding: 0px;
}
#img-purchase {
  width: 15%;
}
div.container-finished {
  background: var(--teamLightblue);
}
