/* 
============================
general styles
============================
*/

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.hide {
  display:none !important;
}

/*
===========================
Header styles
===========================
*/
header {
  width: 100%;
  height: 10vh;
  background-color: darkseagreen;
  overflow: hidden;
}
div.logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10%;
  font-weight: bold;
}

/*
===========================
! Progress bar styles
===========================
*/
.text-center-pbar  {
	text-align:  center;
}
  
.container-pbar  {
	width:  100%;
  height: 100%;
  display: flex;
  align-content: center;
/* 	padding:  0  auto; */
	/* margin-top:  20px; */
/* 	padding:  40px; */
}
#stepProgressBar  {
	/* display:  flex;
	justify-content:  space-between;
	align-items:  flex-end; */
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 50px auto) 50px;
	width:  90%;
	margin:  0  auto;
	margin-bottom:  0px;
/*     background-color: #F8D7E8;
	border: 10px solid #F8D7E8;
	border-radius: 10px; */
}

div.step-pbar {
text-align:  center;
}

p.step-text-pbar  {
margin-top: 5px;
margin-bottom:  5px;
color:  #000e03;
font-size: 12px;
font-weight: 700;
}

div.bullet-pbar {
  margin-top: 5px;
	border: 2px solid #000e03;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	color: #000e03;
	display: inline-block;
	position: relative;
	transition: background-color 1000ms;
  line-height:20px;
}
div.bar-pbar{
  background-color: #000e030e;
  width: 100%;
  margin-bottom: 18px;
  height: 1.5px;
  transition: background-color 1000ms;
/*   position: absolute;
  top: 5px; */
}
div.bar-pbar-completed{
  background-color: #000e03ad;
}

div.first-bullet-pbar{
	background-color:  #000e03;
}

.bullet-pbar.completed-pbar  {
	background-color:  #000e03;
}

/*
===========================
Product pages styles
===========================
*/
section.product-page {
  display: flex;
  max-width: 100%;
  height: 76vh;
  margin: 2vh 2vw;
}
/* ! ----------left---------- */
div.left-wrapper {
  width: 50vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

div.thumbnail-wrapper {
  display: flex;
  flex-direction: column;
  width: 12%;
  padding: 2%;
}

img.img-thumbnail {
  max-width: 100%;
  margin: 1px 0;
}

div.big-picture {
  width: 60%;
  padding-left: 5%;
}

/* ! ----------right---------- */

div.right-wrapper {
  width: 50vw;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 400px;
}

div.right-wrapper h3 {
  font-weight: bold;
  font-size: 2rem;
}

div.price-wrapper h4 {
  font-weight: bold;
  font-size: 1rem;
}

select#idSize {
  background: transparent;
  border: solid 2px;
  border-radius: 5px;
  font-size: 1rem;
  height: 30px;
  padding: 5px;
  width: 40%;
}

div.color-thumbnails-wrapper {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

div.color-thumbnails-wrapper img {
  width: 10%;
  margin-right: 2%;
  margin-bottom: 2%;
}

div.btn-buy input {
  background-color: black;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  opacity: 0.8;
}
/*
===========================
Footer styles
===========================
*/
footer {
  width: 100%;
  height: 10vh;
  background-color: darkseagreen;
}

div.footer-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ===========================================
    ! Testing Buttons style
    ===========================================
 */ 
button.testing  {
	padding:  5px  10px;
	border:  1px  solid  black;
	transition:  250ms background-color;
}

button.testing:hover  {
	cursor:  pointer;
	background-color:  black;
	color:  white;
}

button.testing:disabled:hover  {
	opacity:  0.6;
	cursor:  not-allowed;
}

