

#stepProgressBar  {
	display:  flex;
	justify-content:  space-between;
	align-items:  flex-end;
	width:  300px;
	margin:  0  auto;
	margin-bottom:  0px;
    background-color: #F8D7E8;
	border: 10px solid #F8D7E8;
	border-radius: 10px;
}

.step  {
text-align:  center;
}

.step-text  {
margin-top: 5px;
margin-bottom:  5px;
color:  #000e03;
font-size: 12px;
font-weight: 700;
}

.bullet {
    margin-top: 5px;
	border: 2px solid #000e03;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	color: #000e03;
	display: inline-block;
	position: relative;
	transition: background-color 1000ms;
    line-height:20px;
}

.first-bullet{
	background-color:  #000e03;
}

.bullet.completed  {
	color:  white;
	background-color:  #000e03;
}

.bullet.completed::after {
	content: '';
	position: absolute;
	right: -60px;
	bottom: 9px;
	height: 2px;
	width: 54px;
	background-color: #000e03;
}

.hidden  {
	display:  none;
}
 
button  {
	padding:  5px  10px;
	border:  1px  solid  black;
	transition:  250ms background-color;
}

button:hover  {
	cursor:  pointer;
	background-color:  black;
	color:  white;
}

button:disabled:hover  {
	opacity:  0.6;
	cursor:  not-allowed;
}

.text-center  {
	text-align:  center;
}
  
.container  {
	max-width:  400px;
	margin:  0  auto;
	margin-top:  20px;
	padding:  40px;
}